body
{
	background: #ccce4a;
}

	.login_div1 , .login_div2
	{
		background: rgb(116, 23, 77);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(0, 247, 255);
border-radius: 10px;
border-top: 10px solid #55aa44;
padding: 10px;
float: none;
text-align: left;
}
